@model ErrorViewModel
@{
    ViewData["Title"] = "L?i";
}

<h1 class="text-danger">L?i.</h1>
<h2 class="text-danger">?Ń x?y ra l?i khi x? lř yŕu c?u c?a b?n.</h2>

@if (Model?.ShowRequestId ?? false)
{
    <p>
        <strong>MŃ yŕu c?u:</strong> <code>@Model?.RequestId</code>
    </p>
}

<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">B?n cˇ th? th?:</h5>
        <ul>
            <li>LÓm m?i trang</li>
            <li>Quay l?i <a asp-controller="Home" asp-action="Index">trang ch?</a></li>
            <li>Ki?m tra k?t n?i internet c?a b?n</li>
            <li>Liŕn h? v?i qu?n tr? viŕn n?u l?i v?n ti?p t?c x?y ra</li>
        </ul>
    </div>
</div>