<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="vi-VN" uiCulture="vi-VN" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Type" value="text/html; charset=utf-8" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".cshtml" />
      <mimeMap fileExtension=".cshtml" mimeType="text/html; charset=utf-8" />
    </staticContent>
  </system.webServer>
</configuration>